<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FindMyRide</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>findmyride</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>To add Ride events to Calendar</string>
	<key>NSContactsUsageDescription</key>
	<string>To add Ride events to Calendar</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Show current location on map</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload avatar</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cirka-Light.ttf</string>
		<string>cirka_bold.ttf</string>
		<string>cirka_medium.ttf</string>
		<string>cirka_regular.ttf</string>
		<string>cirka_variable.ttf</string>
		<string>roboto_black.ttf</string>
		<string>roboto_black_italic.ttf</string>
		<string>roboto_bold.ttf</string>
		<string>roboto_bold_italic.ttf</string>
		<string>roboto_italic.ttf</string>
		<string>roboto_light.ttf</string>
		<string>roboto_light_italic.ttf</string>
		<string>roboto_medium.ttf</string>
		<string>roboto_medium_italic.ttf</string>
		<string>roboto_regular.ttf</string>
		<string>roboto_thin.ttf</string>
		<string>roboto_thin_italic.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
